html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", "sans-serif";
  font-size: 16px;
  line-height: normal;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

li,
a {
  list-style-type: none;
  text-decoration: none;
}

*::selection {
  background-color: darkcyan;
  color: white;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}

.header {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav__link {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.nav__link:hover {
  color: aqua;
}

.nav__link-tel {
  color: #ffffff;
  background-color: #00bafc;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 8px 16px;
  border-radius: 5px;
  border: 2px solid #00bafc;
}

.nav__link-tel:hover {
  color: #00bafc;
  background-color: #ffffff;
  border: 2px solid #00bafc;
}

.dropdown {
  position: absolute;
  background-color: darkcyan;
  text-align: center;
  padding: 5px 20px;
  margin-left: -40px;
  border-radius: 2px;
  display: none;
  animation: Dropdowns 0.8s ease-in-out;
}

.dropdown__link {
  display: block;
  padding: 8px 0px;
  font-family: "    ";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #ffffff;
}

.dropdown__link:hover {
  color: #000;
  text-decoration: underline;
}

.nav__list:hover .dropdown {
  display: block;
}

.header__menu {
  display: none;
}

.header__hamburger {
  border: none;
  background-color: #ffffff;
  display: none;
}

@keyframes Dropdowns {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 810px) {
  .header {
    margin-top: 10px;
  }

  .nav {
    display: none;
  }

  .header__hamburger {
    display: block;
  }

  .header__menu {
    display: block;
  }
}

.hero {
  margin-top: 80px;
  background-color: #ffffff;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__info {
  max-width: 470px;
  width: 100%;
}

.hero__heading {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #000;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
}

.hero__text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
}

.hero__video iframe {
  /* width: 100%; */
  height: 258px;
}

@media screen and (max-width: 890px) {
  .hero .container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero__info {
    margin-top: 57px;
  }
}

@media screen and (max-width: 500px) {
  .hero__video iframe {
    width: 350px;
    height: 200px;
  }

  .hero__heading {
    font-size: 22px;
  }

  .hero__text {
    font-size: 16px;
  }
}


@media screen and (max-width: 400px) {
   .hero__video iframe {
    width: 300px;
    height: 180px;
  }
}